{% extends 'base.html' %}

{% block title %} Admin login {% endblock %}

{% block content %}

<form method="POST" class="d-flex flex-column align-items-center">
    {% csrf_token %}
    <div class="form-floating mb-3">
        <input type="username" name="username" class="form-control" id="floatingInput" placeholder="Votre nom d'utilisateur" required>
        <label for="floatingInput" class="form-label">Nom d'utilisateur</label>
        <div class="invalid-feedback">
            Veuillez introduire un nom d'utilisateur valide.
        </div>
    </div>
    <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Votre mot de passe" required>
        <label for="floatingPassword" class="form-label">Mot de passe</label>
        <div class="invalid-feedback">
            Veuillez introduire un mot de passe valide.
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>

    {% if messages %}
    <div class="alert alert-danger mt-3">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}
</form>


{% endblock %}